<div class="col-sm-12">
<h3>Survey Record</h3>
<input type="text" ng-model="electorId"/>
<table class="table table-striped table-bordered">
    <tbody>
    <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Answer</th>

    </tr>
    <tr ng-repeat="question in questions|orderBy: 'order'">
        <td>{{question.order}}</td>
        <td>{{question.text}} </td>
        <td><input type="text" ng-model="newRecord.answers[$index]" style="width: 170px"></td>

    </tr>
    </tbody>
    <tfoot>
    <tr>
        <a ng-click='saveSurveyAnswer()'>Save</a>
    </tr>
    </tfoot>

</table>
</div>